@use "sass:map";
.footer-top {
    background: $cyanmedium;
    padding: 1rem 0;
    .soc-wr {
        padding: 1.5rem 0;
        justify-content: center;
        a {
            display: block;
            width: 2.5rem;
            stroke: white;
            fill: white;
        }
    }
    .footer-logo {
        width: 10rem;
        display: block;
        margin: 0 auto 2.5rem;
    }
    .form-group {
        label {
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 2rem;
            color: $primary-light;
        }
        input.form-control {
            border: none;
            width: 100%;
            line-height: 2.75rem;
            height: 2.75rem;
            color: $white;
            font-weight: bold;
            background: $primary-light;
            &::-webkit-input-placeholder {
                color: $white;
            }
            &:-moz-placeholder {
                color: whitec;
            }
            &::-moz-placeholder {
                color: $white;
            }
            &::placeholder {
                color: $white;
            }
            &:-ms-input-placeholder {
                color: $white;
            }
        }
    }
    .mail-to {
        font-size: 1rem;
        color: $primary-light;
        text-align: center;
        padding: 2.5rem 0;
        a {
            color: $greylight;
            text-decoration: none;
            white-space: nowrap;
        }
    }
    .footer-right-menu {
        ul {
            margin-bottom: 3.275rem;
            li {
                @include txt_menu_3;
                text-align: center;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                margin-bottom: 0.875rem;
                a {
                    color: $greylight;
                }
            }
        }
    }
    .footer-left-menu {
        ul {
            margin-bottom: 1.275rem;
            li {
                @include txt_menu_5;
                text-align: center;
                letter-spacing: 0.03em;
                margin-bottom: 0.875rem;
                a {
                    color: $greylight;
                }
            }
        }
    }
}
.footer-bottom {
    background: $dark;
    padding: 2rem 0;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1rem;
    p {
        color: $greylight;
        margin-bottom: 0;
    }
}
@media (min-width: map.get($grid-breakpoints, "md")) {
    .footer-top {
        padding: 4rem 0 2rem;
        .soc-wr {
            padding: 0;
            justify-content: space-between;
            div {
                align-self: flex-end;
                a {
                    width: 2.25rem;
                    padding-top: 0.125rem;
                    padding-bottom: 0.125rem;
                    svg {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
        .footer-logo {
            width: 12rem;
            display: block;
            margin: 1rem 2rem 1rem 0;
        }
        .mail-to {
            padding: 0;
            margin: 2.5rem 2rem 1rem 0;
        }
        .form-group {
            padding-right: 2rem;
            label {
                font-weight: bolder;
                text-align: left;
                margin-bottom: 2rem;
                color: $fonlight;
            }
            .input-group-prepend {
                fill: transparent;
                stroke: white;
                margin-right: 1rem;
                height: 2.25rem;
                svg {
                    height: 2.5rem;
                    margin-top: -0.125rem;
                }
            }
            input.form-control {
                width: auto;
                line-height: 2.25rem;
                height: 2.25rem;
            }
        }
        .footer-left-menu,
        .footer-right-menu {
            width: 50%;
            ul {
                margin-bottom: 1.125rem;
                li {
                    text-align: left;
                }
            }
        }
    }
    .footer-bottom {
        text-align: left;
        p {
            margin-bottom: 0;
        }
        ul {
            li {
                a {
                    color: $greylight;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (min-width: map.get($grid-breakpoints, "xl")) {
    .footer-top {
        .footer-logo {
        }
        ul {
            margin-right: 2rem;
            li {
                a {
                }
            }
        }
        .soc-wr {
            color: $primary-light;
            justify-content: space-between;
            div {
                align-self: center;
            }
        }
    }
    .footer-bottom {
        // background: $primary;
        // p {
        //     @include sssmal_text_12;
        //     color: $greylight;
        //     padding: 1rem 5rem;
        //     margin-bottom: 0;
        // }
    }
}

@media (min-width: map.get($grid-breakpoints, "xxl")) {
    .footer-top {
        padding: 6rem 0;
        .footer-logo {
            max-width: 282px;
            display: block;
        }
        .col:nth-child(2) {
            ul:first-child {
                margin-bottom: 4.275rem;
                li {
                    @include txt_menu_4;
                    margin-bottom: 1.375rem;
                    a {
                        color: $greylight;
                    }
                }
            }
        }
        .col:nth-child(3) {
            ul:first-child {
                margin-bottom: 3rem;
                li {
                    @include txt_menu_1;
                    margin-bottom: 0.625rem;
                    text-transform: uppercase;
                    a {
                        position: relative;
                        display: block;
                        color: $greylight;
                        text-decoration: none !important;
                        padding-bottom: 7px;
                    }
                }
            }
            ul:nth-child(2) {
                li {
                    @include txt_menu_1;
                    a {
                        display: block;
                        color: $greylight;
                        text-decoration: none !important;
                    }
                }
            }
        }
        .col:nth-child(4) {
            .form-group {
                label {
                    @include text_bold_18;
                    margin-bottom: 2rem;
                }
                input {
                    max-width: 240px;
                    margin-left: 1.2rem;
                    line-height: 44px;
                    height: 44px;
                    background: $gray;
                    border: none;
                    outline: none !important;
                    @include box-shadow(none);
                }
            }
            .d-flex {
                div:nth-child(1) {
                    @include text_bold_18;
                    line-height: 2rem;
                }
            }
        }
    }
    .footer-bottom {
        background: $primary;
        p {
            @include sssmal_text_12;
            color: $greylight;
            padding: 1rem 5rem;
            margin-bottom: 0;
        }
    }
}
