@use "sass:map";
.profile-section {
    padding: 3rem 0 4rem;
    dl {
        display: flex;
        dt {
            width: 30%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        dd {
            width: 70%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.dl-xs-block {
            dt {
                width: 100%;
                padding-bottom: 0.7rem;
            }
            dd {
                white-space: normal;
                width: 100%;
            }
            display: block;
            @media (min-width: map.get($grid-breakpoints, "sm")) {
                display: flex;
                dt {
                    width: 30%;
                    padding-bottom: 0;
                }
                dd {
                    width: 70%;
                }
            }
            @media (min-width: map.get($grid-breakpoints, "md")) {
            }
            @media (min-width: map.get($grid-breakpoints, "xl")) {
                justify-content: flex-end;
            }
            @media (min-width: map.get($grid-breakpoints, "xxl")) {
            }
        }
    }
    .auction-preview {
        margin-bottom: 2rem;
    }
}
