.hide-dark-lens {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.form-search-full * {
    outline: none !important;
}

.form-search-full *:focus {
    box-shadow: none !important;
}

.form-search-full {
    background-color: $white;
    input {
        border-color: $greylight;
    }
}
.bg-dark {
    .form-search-full {
        background-color: $dark;
        input {
            border-color: $dark;
        }
    }
}
.search-form {
    .close-search-form {
        display: none;
    }
    &.form-search-full {
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        // box-shadow: ;
        z-index: 100;
        .close-search-form {
            display: initial;
        }
    }
    .search-container {
        position: relative;
        .btn-container {
            position: absolute;
            display: flex;
            right: 0;
            top: 0;
            button {
                border: none;
                @include box-shadow(none);
                background: transparent !important;
            }
        }
        input {
            min-width: 27rem;
            line-height: 2.31rem;
            background: transparent;
        }
    }
    form {
        max-width: 40rem;
        width: 100%;
    }
}
