.carousel-wrapper {
    position: relative;
    padding: 2rem 0 8rem;
    .cg {
        margin: 0 calc(50% - 50vw);
        .image {
            padding-top: 67.5%;
            background-size: cover;
        }
    }
    .carousel-arrows {
        bottom: 2rem;
        right: 0;
    }
    .carousel-lines {
        height: 0.4rem;
        > div {
            cursor: pointer;
            min-width: 4rem;
            margin-right: 0.5rem;
            border: 1px solid $primary;
            &.active {
                background-color: $primary;
            }
        }
    }
}
