.subscribe-section {
    background-color: $cyandark;
    padding: 8rem 0;
    label {
        color: $red;
        padding-bottom: 3rem;
        font-family: TT Severs;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    input.form-control {
        border: none;
        width: auto;
        max-width: 32rem;
        line-height: 3rem;
        height: 3rem;
        color: $white;
        font-weight: bold;
        background: $primary-light;
        &::-webkit-input-placeholder {
            color: $white;
        }
        &:-moz-placeholder {
            color: whitec;
        }
        &::-moz-placeholder {
            color: $white;
        }
        &::placeholder {
            color: $white;
        }
        &:-ms-input-placeholder {
            color: $white;
        }
    }
    .input-group {
        justify-content: center;
        .input-group-prepend {
            fill: transparent;
            stroke: $greylight;
            margin-right: 1rem;
            height: 3rem;
            svg {
                height: 3rem;
            }
        }
    }
}
