@use "sass:map";
.blog-item {
    display: block;
    text-decoration: none !important;
    padding-bottom: 1.25rem;
    margin-bottom: 0;
    border-top: 0.25rem solid $body-color;
    .category-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
    }
    .category {
        font-family: TT Severs;
        font-size: 1.25rem;
        line-height: 1.8rem;
    }
    .date {
        font-size: 0.875rem;
        line-height: 1.8rem;
        font-weight: 500;
    }
    .image {
        padding-top: 62%;
        display: block;
        margin-bottom: 1.25rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .title {
        font-weight: bold;
        line-height: 21px;
        height: 42px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        letter-spacing: 0.03em;
        margin-bottom: 1rem;
    }
    .excerpt {
        font-size: 1rem;
        letter-spacing: 0.03em;
        margin-bottom: 1rem;
    }
    .link {
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        letter-spacing: 0.03em;
        margin-bottom: 1rem;
    }
    @media (min-width: map.get($grid-breakpoints, "md")) {
    }
    @media (min-width: map.get($grid-breakpoints, "lg")) {
    }
    @media (min-width: map.get($grid-breakpoints, "xl")) {
    }
}
