@use "sass:map";
.news-item {
    display: block;
    text-decoration: none !important;
    padding-bottom: 1.25rem;
    margin-bottom: 0;
    border-top: 0.25rem solid $body-color;
    .category-date{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 0;
    }
    .category {
        font-family: TT Severs;
        font-size: 1.25rem;
        line-height: 1.8rem;
    }
    .date {
        font-size: 0.875rem;
        line-height: 1.8rem;
        font-weight: 500;
    }
    .image {
        padding-top: 62%;
        margin-bottom: 1.25rem ;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .title {
        font-weight: bold;
        line-height: 21px;
        height: 63px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        letter-spacing: 0.03em;
        margin-bottom: 1rem;
    }
    .announce {
        font-size: 1rem;
        line-height: 1.125rem;
        height: 6,125rem;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        letter-spacing: 0.03em;
    }
    @media (min-width: map.get($grid-breakpoints, "md")) {
    }
    @media (min-width: map.get($grid-breakpoints, "lg")) {
    }
    @media (min-width: map.get($grid-breakpoints, "xl")) {
    }
}
